`1. Write a function that loops over all strings within the collection passed in, and changes all vowels to a dash.`

<strong>Example</strong>: [ "Bob", "Vowel", "Hello" ]
<br>
<strong>Output</strong>: [ "B-b", "V-w-l", "H-ll-" ]

In [36]:
names = ["Two diven jocks help fax my big quiz"]
vowels = ['a', 'e', 'i', 'o', 'u']
devoweled_names = []
for name in names:
    new_name = name
    for letter in name:
        if letter in vowels:
            new_name = new_name.replace(letter, '-')
    devoweled_names.append(new_name)

`2. Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.`

In [28]:
#my plan
#range from 2000 to  3200
#if divisible by 7 add to otherlist
#elif not divisible by 5 add to otherlist
#else continue

#My best effort
# for i in range(2002, 3200, 7):
#     print(i, end=', ')
    
# for x in range(2002, 3200, 5):
#     print(x, end=', ')

# set1 = {i}
# to_delete = [{x}]

# set_of_num.difference_update(to_delete)

# print({x})

#sams correct answer
def output(a_list_of_numbers):
    ans = [x for x in range(2000, 3201) if x%5 != 0 and x%7 == 0]
    print(ans)
output(range(2000-3201))

[2002, 2009, 2016, 2023, 2037, 2044, 2051, 2058, 2072, 2079, 2086, 2093, 2107, 2114, 2121, 2128, 2142, 2149, 2156, 2163, 2177, 2184, 2191, 2198, 2212, 2219, 2226, 2233, 2247, 2254, 2261, 2268, 2282, 2289, 2296, 2303, 2317, 2324, 2331, 2338, 2352, 2359, 2366, 2373, 2387, 2394, 2401, 2408, 2422, 2429, 2436, 2443, 2457, 2464, 2471, 2478, 2492, 2499, 2506, 2513, 2527, 2534, 2541, 2548, 2562, 2569, 2576, 2583, 2597, 2604, 2611, 2618, 2632, 2639, 2646, 2653, 2667, 2674, 2681, 2688, 2702, 2709, 2716, 2723, 2737, 2744, 2751, 2758, 2772, 2779, 2786, 2793, 2807, 2814, 2821, 2828, 2842, 2849, 2856, 2863, 2877, 2884, 2891, 2898, 2912, 2919, 2926, 2933, 2947, 2954, 2961, 2968, 2982, 2989, 2996, 3003, 3017, 3024, 3031, 3038, 3052, 3059, 3066, 3073, 3087, 3094, 3101, 3108, 3122, 3129, 3136, 3143, 3157, 3164, 3171, 3178, 3192, 3199]

`3. Write a program that calculates the number of upper case letters and lower case letters in a sentence.`

<strong>Example</strong>: "Hello world!"
<br>
<strong>Output</strong>: <br>
UPPER CASE 1
<br>
LOWER CASE 9

In [9]:
message = input("Type word: ")

print("UPPER LETTERS: ", sum(1 for c in message if c.isupper()))
print("lower letters: ", sum(1 for c in message if c.islower()))

Type word: PooPoo
UPPER LETTERS:  2
lower letters:  4

`4. Write a program that accepts a sentence and calculate the number of letters and digits.`

<strong>Example</strong>: "hello world! 123"
<br>
<strong>Output</strong>:<br>
LETTERS 10<br>
DIGITS 3

In [13]:
s = 'some string'

numbers = sum(c.isdigit() for c in s)
letters = sum(c.isalpha() for c in s)
spaces  = sum(c.isspace() for c in s)

`5. Write a program that creates a pyramid of Xs`

<strong>Output</strong>:
<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;X<br>
&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;XXX<br>
&nbsp;&nbsp;&nbsp;&nbsp;XXXXX<br>
&nbsp;&nbsp;XXXXXXX<br>
XXXXXXXXX<br>

In [ ]:
print("Print a Pyramid the Mayan way, using Xes")
size = 7
m = (2 * size) - 2
for i in range(0, size):
    for j in range(1, m):
        print(end=" ")
    m = m - 1  
    for j in range(0, i + 1):
        print("x", end=' ')
    print(" ")